In [2]:
import json
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import requests

In [10]:
pwd

'C:\\Users\\sauto_ay'

In [14]:
df = pd.read_csv('C:/Users/sauto_ay/Documents/Projects/model deployment/research/adult income.csv', header = None)

In [15]:
headers = ["age", "workplace", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race",
          "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
df.columns = headers

In [16]:
x_cols = [c for c in df.columns if c != 'income']
X = df[x_cols]
y = df['income']
X

,age,workplace,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=1234)

In [57]:
for i in range(200):
    input_data = dict(X_test.iloc[i])
    target = y_test.iloc[i]
    r = requests.post('http://127.0.0.1:8000/api/v1/income_classifier/predict?status=ab_testing', input_data)
    response = r.json

    requests.put("http://127.0.0.1:8000/api/v1/mlrequests/{}".format(["requests_id"]),{"feedback": target})